img{
    width: 200px;
    border-radius: 20%;
    height: auto;
}
.titulo{
    border: 5px solid #f1e6da;
}
.pic{
    border: 5px solid #898c48;
}
.desc{
  

    border: 5px solid pink;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}
